numpy
torch
torchvision
pytorch_lightning==1.6.5
packaging
omegaconf
Pillow
einops
-e git+https://github.com/CompVis/taming-transformers.git@24268930bf1dce879235a7fddd0b2355b84d7ea6#egg=taming_transformers
opencv-python
scipy
albumentations
configargparse
face-alignment==1.3.4
scipy
